.bg-info {
  background-color: #65afff !important;
}

.main-layout {
  display: flex;
  flex-direction: column;
}

.main-view {
  padding: 10px;
  display: flex;
  flex-direction: column;
}

.home-link {
  color: #ffffff !important;
}
